header{
	background-color: #f5f5f5;
	display:inline-block;
}
#dog{
	border: 10px solid #f76707;
  border-radius: 5px;
	height: 200px;
}
#dog:hover{
	opacity:0.9
}

#text{
	background-color: #f5f5f5;
	display:inline-block;
}